@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f5f7;
  --foreground: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@media print {
  img {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .scrollbar-thin::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
    border-radius: 999px;
  }
}
